.idea/
*.pyc
app/*.pyc
wechat/*.pyc
static/*
app/models/*.pyc
app/views/*.pyc
app/utils/*.pyc
django_weixin/*.pyc
django_weixin/models/*.pyc
django_weixin/views/*.pyc
django_weixin/utils/*.pyc
packages/django_weixin/django_weixin.egg-info/
packages/django_weixin/dist/
packages/django_weixin/django_weixin/
wechat/log/django.wechat.log
docs/build/
wechat/settings.py