.idea/
*.pyc
app/*.pyc
wechat/*.pyc
static/
app/models/*.pyc
app/views/*.pyc
app/utils/*.pyc
django-weixin/*.pyc
django-weixin/models/*.pyc
django-weixin/views/*.pyc
django-weixin/utils/*.pyc
packages/django-weixin/django_weixin.egg-info/
packages/django-weixin/dist/
packages/django-weixin/app/