.idea/
*.pyc
app/*.pyc
wechat/*.pyc
static/
app/models/*.pyc
app/views/*.pyc
app/utils/*.pyc
django-wechat/*.pyc
django-wechat/models/*.pyc
django-wechat/views/*.pyc
django-wechat/utils/*.pyc
django-wechat/django_wechat.egg-info/
django-wechat/dist/