<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理界面</title>
    <link rel="stylesheet" href="/static/css/admin-dashboard.css">
</head>
<body>
<div class="button-container">
    <div id="create-meibo-menu" class="menu-config-list">创建菜单</div>
    <div id="delete-meibo-menu" class="menu-config-list">删除菜单</div>
    <div id="get-access-token" class="menu-config-list"><a href="{{ access_token_url }}">AccessToken获取</a></div>
    <div id="get-qr-code-ticket" class="menu-config-list"><a href="{{ qr_code_ticket }}">QR Code Ticket获取</a></div>
    <div id="get-user-list" class="menu-config-list">获取用户列表</div>
    <div id="message-auto-replay-config" class="menu-config-list">自动回复配置</div>
</div>
<script src="/static/js/jquery-min-1.11.3.js"></script>
<script src="/static/js/base.js"></script>
<script src="/static/js/admin-dashboard.js"></script>
</body>
</html>