<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Config</title>
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="menu-preview">

</div>
<div class="menu-config-container">
    <div class="left-container">
        <form class="pure-form">
            <fieldset class="pure-group">
                <select class="pure-u-12-1">
                    <option>click</option>
                    <option>view</option>
                </select>
                <input type="text" class="pure-input-1-7" placeholder=""> <select class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input type="text" class="pure-input-1-7" placeholder=""> <select class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input type="text" class="pure-input-1-7" placeholder=""> <select class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input type="text" class="pure-input-1-7" placeholder=""> <select class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input type="text" class="pure-input-1-7" placeholder="">

                <input id="main-menu-first" type="text" class="pure-input-1-7" placeholder="">
            </fieldset>
        </form>
    </div>
    <div class="middle-container">
        <form class="pure-form">
            <fieldset class="pure-group">
                <select class="pure-u-12-1">
                    <option>click</option>
                    <option>view</option>
                </select>
                <input type="text" class="pure-input-1-7" placeholder=""> <select class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input type="text" class="pure-input-1-7" placeholder=""> <select class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input type="text" class="pure-input-1-7" placeholder=""> <select class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input type="text" class="pure-input-1-7" placeholder=""> <select class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input type="text" class="pure-input-1-7" placeholder="">
                <input id="main-menu-second" type="text" class="pure-input-1-7" placeholder="">

            </fieldset>
        </form>
    </div>
    <div class="right-container">
        <form class="pure-form">
            <fieldset class="pure-group">
                <select class="pure-u-12-1">
                    <option>click</option>
                    <option>view</option>
                </select>
                <input type="text" class="pure-input-1-7" placeholder=""> <select class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input type="text" class="pure-input-1-7" placeholder=""> <select class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input type="text" class="pure-input-1-7" placeholder=""> <select class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input type="text" class="pure-input-1-7" placeholder=""> <select class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input type="text" class="pure-input-1-7" placeholder="">
                <input id="main-menu-third" type="text" class="pure-input-1-7" placeholder="">

            </fieldset>
        </form>
    </div>
    <div class="clear-left"></div>
    <div class="confirm-button-container">
        <button class="pure-button pure-button-primary" onclick="confirm_button_click()">确定</button>
    </div>
</div>
<script src="/static/js/jquery-min-1.11.3.js"></script>
<script src="/static/js/menu_config.js"></script>
</body>
</html>