<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Config</title>
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="menu-preview">

</div>
<div class="menu-config-container">
    <div class="left-container">
        <form class="pure-form">
            <fieldset class="pure-group">
                <select id="st_1" class="pure-u-12-1">
                    <option>click</option>
                    <option>view</option>
                </select>
                <input id="name_1" type="text" placeholder="名字" class="pure-input-1-7">
                <input id="sub_1" type="text" class="pure-input-1-7" placeholder="链接"> <select id="st_2"
                                                                                               class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input id="name_2" type="text" placeholder="名字" class="pure-input-1-7">
                <input id="sub_2" type="text" class="pure-input-1-7" placeholder="链接"> <select id="st_3"
                                                                                               class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input id="name_3" type="text" placeholder="名字" class="pure-input-1-7">
                <input id="sub_3" type="text" class="pure-input-1-7" placeholder="链接"> <select id="st_4"
                                                                                               class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input id="name_4" type="text" placeholder="名字" class="pure-input-1-7">
                <input id="sub_4" type="text" class="pure-input-1-7" placeholder="链接"> <select id="st_5"
                                                                                               class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input id="name_5" type="text" placeholder="名字" class="pure-input-1-7">
                <input id="sub_5" type="text" class="pure-input-1-7" placeholder="链接">
                <select id="menu_1_type">
                    <option>0</option>
                    <option>sub_menu</option>
                    <option>click</option>
                    <option>view</option>
                </select>
                <input id="main-menu-first-name" type="text" class="pure-input-1-7" placeholder="主菜单名称">
                <input id="main-menu-first" type="text" class="pure-input-1-7" placeholder="主菜单链接">
            </fieldset>
        </form>
    </div>
    <div class="middle-container">
        <form class="pure-form">
            <fieldset class="pure-group">
                <select id="st_6" class="pure-u-12-1">
                    <option>click</option>
                    <option>view</option>
                </select>
                <input id="name_6" type="text" placeholder="名字" class="pure-input-1-7">
                <input id="sub_6" type="text" class="pure-input-1-7" placeholder="链接"> <select id="st_7"
                                                                                               class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input id="name_7" type="text" placeholder="名字" class="pure-input-1-7">
                <input id="sub_7" type="text" class="pure-input-1-7" placeholder="链接"> <select id="st_8"
                                                                                               class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input id="name_8" type="text" placeholder="名字" class="pure-input-1-7">
                <input id="sub_8" type="text" class="pure-input-1-7" placeholder="链接"> <select id="st_9"
                                                                                               class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input id="name_9" type="text" placeholder="名字" class="pure-input-1-7">
                <input id="sub_9" type="text" class="pure-input-1-7" placeholder="链接"> <select id="st_10"
                                                                                               class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input id="name_10" type="text" placeholder="名字" class="pure-input-1-7">
                <input id="sub_10" type="text" class="pure-input-1-7" placeholder="链接">
                <select id="menu_2_type">
                    <option>0</option>
                    <option>sub_menu</option>
                    <option>click</option>
                    <option>view</option>
                </select>
                <input id="main-menu-second-name" type="text" class="pure-input-1-7" placeholder="主菜单名称">
                <input id="main-menu-second" type="text" class="pure-input-1-7" placeholder="主菜单链接">

            </fieldset>
        </form>
    </div>
    <div class="right-container">
        <form class="pure-form">
            <fieldset class="pure-group">
                <select id="st_11" class="pure-u-12-1">
                    <option>click</option>
                    <option>view</option>
                </select>
                <input id="name_11" type="text" placeholder="名字" class="pure-input-1-7">
                <input id="sub_11" type="text" class="pure-input-1-7" placeholder="链接"> <select id="st_12"
                                                                                                class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input id="name_12" type="text" placeholder="名字" class="pure-input-1-7">
                <input id="sub_12" type="text" class="pure-input-1-7" placeholder="链接"> <select id="st_13"
                                                                                                class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input id="name_13" type="text" placeholder="名字" class="pure-input-1-7">
                <input id="sub_13" type="text" class="pure-input-1-7" placeholder="链接"> <select id="st_14"
                                                                                                class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input id="name_14" type="text" placeholder="名字" class="pure-input-1-7">
                <input id="sub_14" type="text" class="pure-input-1-7" placeholder="链接"> <select id="st_15"
                                                                                                class="pure-u-12-1">
                <option>click</option>
                <option>view</option>
            </select>
                <input id="name_15" type="text" placeholder="名字" class="pure-input-1-7">
                <input id="sub_15" type="text" class="pure-input-1-7" placeholder="链接">
                <select id="menu_3_type">
                    <option>0</option>
                    <option>sub_menu</option>
                    <option>click</option>
                    <option>view</option>
                </select>
                <input id="main-menu-first-name" type="text" class="pure-input-1-7" placeholder="主菜单名称">
                <input id="main-menu-third" type="text" class="pure-input-1-7" placeholder="主菜单链接">

            </fieldset>
        </form>
    </div>
    <div class="clear-left"></div>
    <div class="confirm-button-container">
        <button class="pure-button pure-button-primary" onclick="confirm_button_click()">确定</button>
    </div>
</div>
<script src="/static/js/base.js"></script>
<script src="/static/js/jquery-min-1.11.3.js"></script>
<script src="/static/js/menu_config.js"></script>
</body>
</html>